.rojo     { color: red; }
.amarillo { color: gold; }
.verde    { color: green; }
.naranja  { color: orange; }
.violeta  { color: purple; }
.rosado   { color: deeppink; }
.celeste  { color: skyblue; }
.marron   { color: saddlebrown; }
.beige    { color: peru; }
.gris     { color: dimgray; }