
#emoji1  { font-size: 20px; }
#emoji2  { font-size: 28px; }
#emoji3  { font-size: 36px; }
#emoji4  { font-size: 44px; }
#emoji5  { font-size: 52px; }
#emoji6  { font-size: 60px; }
#emoji7  { font-size: 32px; }
#emoji8  { font-size: 48px; }
#emoji9  { font-size: 24px; }
#emoji10 { font-size: 40px; }